services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: some-rabbit
    hostname: my-rabbit
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - app-network
    environment:
      RABBITMQ_DEFAULT_USER: ${RABBITMQ_DEFAULT_USER}
      RABBITMQ_DEFAULT_PASS: ${RABBITMQ_DEFAULT_PASS}
    restart: unless-stopped

  database-auth:
    image: postgres:16-alpine
    container_name: database-auth
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB_AUTH}
    ports:
      - "5432:5432"
    volumes:
      - db-auth-data:/var/lib/postgresql/data
    networks:
          - app-network

  database-avaliacao:
    image: postgres:16-alpine
    container_name: database-avaliacao
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB_AVALIACAO}
    ports:
      - "5433:5432"
    networks:
      - app-network
    volumes:
      - db-avaliacao-data:/var/lib/postgresql/data

  auth:
    container_name: auth
    build: ./auth
    image: ryanbertaglia/auth:latest
    ports:
      - "8080:8080"
    networks:
      - app-network

  frontend:
    build: ./frontend
    image: ryanbertaglia/frontend:latest
    ports:
      - "3000:80"
    networks:
      - app-network
    environment:
      - VITE_API_AUTH=http://auth:8080
    depends_on:
      - auth

  avaliar:
    build: ./avaliar
    image: ryanbertaglia/avaliar:latest
    ports:
      - "8082:8082"
    networks:
      - app-network
    depends_on:
      - database-avaliacao

  enviar:
    build: ./enviar
    image: ryanbertaglia/enviar:latest
    ports:
      - "8083:8083"
    networks:
      - app-network
    depends_on:
      - database-auth
      - rabbitmq

  envio-conteudo:
    build: ./envio-conteudo
    image: ryanbertaglia/envio-conteudo:latest
    ports:
      - "8084:8084"
    networks:
      - app-network
    depends_on:
      - rabbitmq

  repercussao:
    build: ./repercussao
    image: ryanbertaglia/repercussao:latest
    ports:
      - "8085:8085"
    networks:
          - app-network
    depends_on:
      - database-avaliacao
      - database-auth

networks:
  app-network:
    driver: bridge

volumes:
  db-auth-data:
  db-avaliacao-data: